.Tile-Cover {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 238px;
  height: 140px;
}

.Tile-Cover img {
  max-width: 100%;
  max-height: 100%;
  width: 'auto';
}

.ant-col .ant-card .ant-card-body {
  padding: 20px;
  padding-top: 15px;
  text-align: left;
}

.type {
  font-weight: bold;
}

.timeEnd {
  position: absolute;
  right: 20px;
}

.capacity {
  font-weight: bold;
}

.ant-card-head-title {
  font-size: 20px;
}

.end {
  position: absolute;
  right: 20px;
}
