.Tile-Cover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 238px;
  height: 140px;
}

.Tile-Cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ant-row .ant-col .ant-card .ant-card-body {
  padding: 20px;
  padding-top: 15px;
  text-align: left;
}

.type {
  font-weight: bold;
}

.timeEnd {
  position: absolute;
  right: 20px;
}

.capacity {
  font-weight: bold;
}

.ant-card-head-title {
  font-size: 20px;
}
