.SignInForm {
  max-width: 430px;
  margin: 20px auto 0;
  padding: 20px;

  margin-bottom: 10px;
}
.SignUpLink {
  float: left;
  padding: 0px;
  font-size: 17px;
}
.SignUpButton {
  font-size: 17px;
}
.SignInButton {
  width: 100%;
}
