.SignInForm {
  max-width: 480px;
  margin: 20px auto 0;
  margin-bottom: 10px;
  padding: 20px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  justify-content: 'center';
}
.SignUpLink {
  float: left;
  font-size: 18px;
  margin: 10px 0px;
}
.SignUpButton {
  font-size: 18px;
  font-weight: bold;
}
.SignInButton {
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin-bottom: 10px;
}
.SignInForm #email {
  height: 40px;
  font-size: 23px;
}
.SignInForm #password {
  height: 40px;
  font-size: 23px;
  margin: 10px 0px;
}
.icon {
  font-size: 20px;
}
.SignInFormItem {
  margin-bottom: 25px;
}
.SignInForm .ant-form-item {
  margin-bottom: 10px;
}
.ant-input-prefix {
  top: 25px !important;
}

.SignInForm .ant-input-affix-wrapper .ant-input {
  padding-left: 40px !important;
  padding-top: 5px;
}

.SignInFormItem .ant-input-affix-wrapper {
  height: 50px;
}

#icon-password {
  margin-top: 20px;
}

#gender label {
  font-size: 20px;
  padding-top: 5px;
}

#gender .ant-radio {
  margin-bottom: 3px;
}
