.logo {
  margin: 7px 0px 0px 0px;
  float: left;
}
.HomeLink {
  font-size: 17px;
}
.Buttons {
  float: right;
  padding: 0px 4;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
