.MatchDetail {
  max-width: 900px;
  margin: 20px auto 0;
  padding: 20px;
  font-size: 35px;
  border: 1px solid rgb(1, 121, 151);
  border-width: 4px;
  border-radius: 5px;
}
#join-match-button {
  margin: 10px;
  width: 95%;
  font-size: 30px;
  height: 60px;
  margin-top: 50px;
}
#enter-chatroom-button {
  margin: 1%;
  width: 65%;
  font-size: 37px;
  height: 60px;
  margin-top: 50px;
}
#edit-match-button {
  margin: 1%;
  width: 31%;
  font-size: 37px;
  height: 60px;
  margin-top: 50px;
}
#quit-match-button {
  margin: 10px;
  width: 25%;
  font-size: 37px;
  height: 60px;
}
.MatchDetail > i {
  margin-top: 30px;
}
.Detail-PlaceDate-And-Host {
  margin-top: 50px;
}
.material-icons {
  margin: 10px;
}
#detail-title {
  font-size: 50px;
}
#capacity-text {
  margin-bottom: 660px;
}
#materials-icon-person {
  margin-left: 60px;
  font-size: 60px;
  color: #114ef7;
  text-shadow: 4px 4px 8px #114ef7;
  margin-top: 40px;
}
.Detail-Additional-Info {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}
.Detail-Restrictions {
  font-weight: bold;
  color: #f71111;
}

#detail-capacity {
  font-size: 40px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
.MatchInfo {
  font-size: 50px;
  color: rgb(30, 61, 9);
}
.MatchDetail img {
  width: 100%;
  margin-bottom: 30px;
}
#host-profile-button {
  font-size: 30px;
  float: right;
}
#Detail-GoogleMap {
  margin: 10px;
}
#additional-info-text {
  margin: 10px 20px;
}
