.SignUpForm {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

.button {
  text-align: center;
  margin: 20px auto 0;
}

.ant-form-item {
  margin-bottom: 15px !important;
}

.ant-form-item-label {
  margin-top: 0px;
  margin-right: 5px;
}
#password {
  margin: 0px;
}
